* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #efefef;
  --background-button-color: #ff5374;
  --border-color: #e6e6f0;
  --span-color: #c1bccc;
  --span-color-hover: #5e5b63;
  --text-color: #4e4958;
  --subtitle-and-header-color: #535971;
  --text-font: 'Poppins', sans-serif;
  --title-font: 'Staatliches', cursive;
}

body {
  background-color: var(--background-color);
}

body,
input {
  font-family: var(--text-font);
}

body::before {
  content: '';
  display: block;
  width: 100%;
  height: 436px;
  background-color: var(--subtitle-and-header-color);
  position: absolute;
  z-index: -1;
}
.page {
  width: 750px;
  margin: auto;
}

header {
  width: 50%;
  color: white;
  padding-top: 140px;
  margin-bottom: 58px;
}

header h1 {
  font-family: var(--title-font);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 18px;
}
header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

form {
  padding: 64px;
  background: #ffffff;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldset-wrapper legend {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: var(--subtitle-and-header-color);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 16px;
}

.input_name-wrapper {
  display: flex;
  gap: 22px;
}

.input_name-wrapper .input-wrapper {
  flex-grow: 1;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.input-wrapper label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--span-color);
}

.input-wrapper label span:hover {
  color: var(--span-color-hover);
}

.input-wrapper input {
  margin-top: 8px;
  background: #fafafc;
  height: 56px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  width: 100%;
  padding-left: 24px;
  font-size: 16px;
  color: var(--text-color);
}

.mentorship-card + .mentorship-card {
  margin-top: 16px;
}

.mentorship-card h3 {
  font-family: var(--title-font);
  color: var(--subtitle-and-header-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 8px;
}

.input_date-wrapper {
  display: flex;
  gap: 10px;
}

.input_date-wrapper .input-wrapper:nth-child(1) {
  margin-right: 22px;
  flex-grow: 2;
}

.input_date-wrapper .input-wrapper:nth-child(2),
.input_date-wrapper .input-wrapper:nth-child(3) {
  flex-grow: 1;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 72px;
  height: 160px;
  border-radius: 0px 0px 20px 20px;
  background-color: var(--subtitle-and-header-color);
  margin-bottom: 100px;
}

.button-wrapper button {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  border: none;
  color: white;
  padding: 15px;
  background-color: var(--background-button-color);
  border-radius: 20px;
  cursor: pointer;
  transition: all 250ms;
}

.button-wrapper button:hover {
  filter: brightness(0.8);
}
